.forgot-password-container {
  width: 100%;
  height: calc(100% - 13%);
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password-content {
  width: 33%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eeeeee;
  padding: 1rem;
  align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.75);
}
.forgot-password-label {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: #212121;
}
.email-input {
  width: 80%;
  height: 1.7rem;
  border: 1px solid #bdbdbd;
  border-radius: 7px;
  background-color: transparent;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
}
.forgot-password-button {
  width: 60%;
  height: 2rem;
  margin-top: 3rem;
  border: 0;
  background-color: #0288d1;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 7px;
  color: #fafafa;
  font-weight: 500;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.forgot-password-button:hover {
  background-color: #01579b;
}
.forgot-password-button:disabled {
  background-color: #bdbdbd;
}
.forgot-password-error {
  padding: 1rem;
  margin-top: 1rem;
  width: 90%;
  color: #b71c1c;
  text-align: center;
  background-color: #ffebee;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.forgot-password-message {
  padding: 1rem;
  margin-top: 1rem;
  width: 90%;
  color: black;
  text-align: center;
  background-color: #bbdefb;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.forgot-password-instruction {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  color: #455a64;
}

@media screen and (max-width: 500px) {
  .forgot-password-container {
    justify-content: flex-start;
  }
  .forgot-password-content {
    margin-top: 5rem;
    width: 50%;
  }
  .forgot-password-instruction {
    margin-top: 1.4rem;
  }
}
